<!DOCTYPE html>
<html>
<head>
<title>Sdukaka Bloggs</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Sdukaka."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="/static/css/style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="/static/img/sdukaka.JPG" alt="Alan Smith" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Wei Wu</h1>
			<h2 class="quickFade delayThree">Sdukaka's Blog</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="walterkevinkaka@gmail.com" target="_blank">walterkevinkaka@gmail.com</a></li>
				<li>w: <a href="http://weibo.com/2521237470">kaka爱跑步</a></li>
				<li>m: 86-18635837602</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I'm a master student in Shandong University.Computer graphics is my research area.Just do it.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Education</h2>
					<p class="subDetails">Sept 2015 - Present</p>
					<p>Master Student</p>
				</article>
				
				<article>
					<h2>Education</h2>
					<p class="subDetails">Sept 2011 - June 2015</p>
					<p>Undergraduate student </p>
				</article>
				
				<article>
					<h2>Education</h2>
					<p class="subDetails">Sept 2008 - June 2011</p>
					<p>High School student </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>Java</li>
					<li>Js</li>
					<li>Matlab</li>
					<li>C++</li>
			<!--		<li></li>
					<li>A Key Skill</li>
					<li>A Key Skill</li> -->
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>College/University</h2>
					<p class="subDetails">Qualification</p>
					<p>SDU</p>
				</article>
				
				<article>
					<h2>College/University</h2>
					<p class="subDetails">Qualification</p>
					<p>SDU</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>